canvas {
    border: 5px solid purple;
}

.buttonDiv {
    position: absolute;
    background-color: aqua;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}