canvas {
    border: 2px solid purple;
}

.buttonDiv {
    position: absolute;
    background-color: aqua;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}

.font-exo {
    font-family: 'Exo 2', sans-serif;
}

.font-yuji {
    font-family: 'Yuji Hentaigana Akari', cursive;
}